<!doctype html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css%family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
</head>
<body  style="width:800px;margin:0 auto;padding:0;font-family: 'Open Sans'">
<div align="center" border="0" cellpadding="0" cellspacing="0" style="width: 800px;height: auto;background-color: #F3FAFF;">
    <table cellpadding="0" cellspacing="0"  style="background-image: url('http://assets.momotrip.co.id/email/revisi/header.png');background-repeat: repeat-x;background-position: top;background-size: 100%;width: 100%;border-top: none;">
        <tr>
            <td align="center">
                <img style="display:block;" src="http://assets.momotrip.co.id/email/revisi/momo-icon-2.png" width="600px">
            </td>
        </tr>
        <tr>
            <td align="center" style="height: auto;">
                    <table cellpading="0" cellspacing="0" style="background-color: #fff;height: 100%;width: 600px;background-size: 100%;vertical-align: text-top;padding-bottom: 100px;">
                        <tr>
                            <td style="padding-left: 25px;padding-right: 25px;height: 150px;background-position: center top;text-align: center;">
                                <h1 style="color:#37AAEF;vertical-align: text-bottom;background-color: #fff;">Trip <%= data.title %> sudah tersedia</h1>
                            </td>
                        </tr>
                        <tr>
                            <td style="height: auto;padding-left: 25px;padding-right: 25px;width: 100%">
                                <div class="card-title" style="border-bottom: 1px solid #dcdcdc;text-align: center;width: 245px;margin: 0 auto;margin-bottom: 20px">
                                    <div class="card-inside-title" style="padding: 20px 0px 0px;color:#404040;font-size: 20px;font-weight: bold" >
                                        Informasi Tur
                                    </div>
                                    <div class="blue-border" style="border-bottom: 4px solid #56bdef;margin:0 auto;margin-bottom: -7px;width: 85px;display: inline-block"></div>
                                </div>
                                <table style="width: 100%;border-bottom: 1px solid #d1d1d1;margin-bottom: 5px;padding-bottom: 20px;">
                                    <tr>
                                        <td>
                                            <a href="<%= data.trip_link %>"><img src="<%= data.photo %>"></a>
                                        </td>
                                        <td>
                                            <table>
                                                <tr>
                                                    <td colspan="3" style="font-size: 20px;color:#404040;font-weight: bold">
                                                        <a href="<%= data.trip_link %>" style="color:#015384;text-decoration:none;"><%= data.title %> (<%= data.category_name %>)</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3" style="margin-bottom: 15px;border-bottom: 1px solid #d1d1d1;padding-bottom: 15px;font-size: 16px;color:#404040">
                                                        <%= data.start_date %> - <%= data.end_date %>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="font-size: 14px;color:#404040;font-weight: bold;padding-top: 20px;">Momoranger</td>
                                                    <td style="width: 60px;text-align: center;padding-top: 20px;">:</td>
                                                    <td style="font-size: 14px;color:#6d6d6d;padding-top: 20px;"><%= data.momoranger %></td>
                                                </tr>
                                                <tr>
                                                    <td style="font-size: 14px;color:#404040;font-weight: bold">Kota</td>
                                                    <td style="width: 60px;text-align: center">:</td>
                                                    <td style="font-size: 14px;color:#6d6d6d;"><%= data.city %></td>
                                                </tr>
                                                <tr>
                                                    <td style="font-size: 14px;color:#404040;font-weight: bold">Durasi</td>
                                                    <td style="width: 60px;text-align: center">:</td>
                                                    <td style="font-size: 14px;color:#6d6d6d;"><%= data.total_day %> <%if (data.duration_type = 'day') { %>Hari<% }else{ %>Jam<% } %></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
            </td>
        </tr>
        <tr>
            <td>
                <table style="background-image: url('http://assets.momotrip.co.id/email/revisi/footer.png');background-repeat: no-repeat;background-position: bottom;height: 250px;width: 100%;">
                     <tr>
                        <td style="padding: 35px 50px 50px 70px;color: #fff;width: 75%">
                            <div style="width: 100%;padding: 5px;">
                                <a href="https://www.momotrip.co.id/"><img style="width: 200px;" src="http://assets.momotrip.co.id/email/revisi/logo-momo-putih.png"></a>
                            </div>
                            <div style="width: 100%;padding: 5px;color: #fff;">
                                PT Momotrip Axia Indonesia<br>
                                Momotrip Graha<br>
                                <a href="" style="color: #fff;text-decoration: none;">Jl Condet raya No 27, Batu Ampar, Kramat Jati</a><br>
                                Jakarta Timur, Indonesia
                            </div>
                        </td>
                        <td style="padding: 35px 70px 50px 50px;color: #fff;width: 25%">
                            <table>
                                <tr>
                                    <td colspan='3'><a href="http://journal.momotrip.co.id/"><img style="width: 200px;" src="http://assets.momotrip.co.id/email/revisi/logo-momo-journal-putih.png"></a></td>
                                </tr>
                                <tr>
                                    <td><center><a href="https://www.facebook.com/momotrip.co.id"><img style="width: 60%;" src="http://assets.momotrip.co.id/email/revisi/1.png"></a></center></td>
                                    <td><center><a href="https://www.instagram.com/momotrip.co.id/"><img style="width: 60%;" src="http://assets.momotrip.co.id/email/revisi/2.png"></a></center></td>
                                    <td><center><a href="https://twitter.com/momotrip_co_id"><img style="width: 60%;" src="http://assets.momotrip.co.id/email/revisi/3.png"></a></center></td>
                                </tr>
                                <tr>
                                    <td><center><a href="https://www.youtube.com/Momotrip"><img style="width: 60%;" src="http://assets.momotrip.co.id/email/revisi/4.png"></a></center></td>
                                    <td><center><a href="https://plus.google.com/+Momotrip"><img style="width: 60%;" src="http://assets.momotrip.co.id/email/revisi/5.png"></a></center></td>
                                    <td><center><a href="https://www.linkedin.com/company/pt.-momotrip-axia-indonesia"><img style="width: 60%;" src="http://assets.momotrip.co.id/email/revisi/6.png"></a></center></td>
                                </tr>
                             </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>
</html>